<section class="section">
  <h2 class="title is-4">View by Category</h2>
  <div class="buttons">
    {{# each categories }}
      <a class="button" id="login" href="/category/{{_id}}"> {{name}} </a>
    {{/each}}
  </div>
</section>