<section class="section">
  <h1 class="title">Add a Category</h1>
  <form action="/addCategory" method="POST">
    <div class="field">
      <label class="label">Name</label> <input class="input" type="text" placeholder="Enter Category Name" name="name">
    </div>
    <div class="field is-grouped">
      <button class="button is-link">Add Category</button>
    </div>
  </form>
</section>
